@font-face {
    src: url("../font/optimusprinceps/OptimusPrinceps.ttf");
    font-family: darkSoulFont;

}
body {
    background-color: black;
    font-family: darkSoulFont;
    color: white;
    /* margin-left: -200px; */
    font-size: 30px;
    float: left;
}

.discoBall {
    float: left;
    margin-top: -45%;
    border-radius: 0px;
    margin-left: 100%;
}
